.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.choice-box, .choice-box .context-menu {
    -fx-pref-width: 100px;
}

.choice-box .context-menu {
    -fx-background-color: D8D8D8;
}

.choice-box > * {
    -fx-text-alignment: right;
}

.text-area, .text-area content {
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

#prod_checkBoxes > .check-box {
	/*-fx-min-height: 20;*/
	-fx-pref-height: 25;
}

#progressRegion .progress-bar {
	-fx-pref-width: 500;
}