.root {
	-fx-background: #A0D2DB;
}

.label {
	-fx-font: normal bold 16px Verdana;
}

.textBox {
    -fx-font: normal normal 14px Verdana;
    -fx-wrap-text: true;
}

.notificationLink {
	-fx-font: 12px Verdana;
	-fx-underline: true;
	-fx-fill: #0021CB;
}

.imageView, .notificationLink {
	-fx-cursor: hand;	
}